h1 {
  text-align: center;
}

div {
  text-align: center;
  font-size: 2rem;
  margin: 25px;
}

#calculadora {
  max-width: 300px;
  min-width: 300px;
}

.buttons:hover {
  background-color: #3d8bff !important;
  cursor: pointer;
}
